extends ../publiclayout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 
      a(href='/blog/' + user.profile.name ) #{user.profile.name}'s blog


    each post in blogs

      .col
        .row
          h2 #{post.posttitle}
   
        .row

      p Category: #{post.postcat} 
      p Tags: #{post.posttags} 

      blockquote #{post.subtext} 
      div(escaped="#{post.post}")
      p #{moment(post.createdAt).format('LT, MMM D, YYYY')}

      hr
  
