extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom


  
  if user._id == "5f6cf09b9a806936329128ed"
    h2 MANAGE UMATI PORTAL CONTENT
  else 
    h2 BLOG MANAGER
  a(href='/account/blogsettings') settings - 
  a(href='/account/createpost') new post

  hr

  br

  - var userr = { id: user._id }
  - if (blogs.length)
    each posts in blogs
        if posts.userid == userr.id 
            a(href='/account/blog/'+posts._id).icon-edit
              strong #{posts.posttitle}
            br
            span Subtext: #{posts.subtext}
            br
            span Category: #{posts.postcat}
            br
            span Tags: #{posts.posttags}
            br
            span &nbsp; &nbsp; &nbsp; created #{moment(posts.createdAt).format('MMM Do h:mm:ss a')}
            hr
            br
  br
  br
  br
  br
  hr
  include ../partials/profilehead.pug
