extends ../publiclayout

block content

  .row
    .col
    p 
    a(href='/account/blog') Manage your #{blogname} Blog 
  .pb-2.mt-2.mb-4.border-bottom



 

    each post in blogs

      .col
        .row
          h2   
          a(href='/blog/' + blogname + '/' + post.posttitle) #{post.posttitle}
   
        .row

      p Category: #{post.postcat} 
      p Tags: #{post.posttags} 

      blockquote #{post.subtext} 
      p #{content}
      p #{moment(post.createdAt).format('LT, MMM D, YYYY')}

      hr
  
