extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  if (user.usecase_techinventory === "checked")
    span TECHNOLOGY ASSESSMENT - 
  else
    span INVENTORY - 
  a(href='/account/inventorysettings') Settings - 
  a(href='/account/createinventory') Add inventory item - 
  a(href='/account/createloc') New location - 
  a(href='/account/createdonation') List a donation

    hr
    br

  - var userr = { id: user._id }
  - if (data.length)

  .card-columns
    each posts in data
       if posts.visibility != "none"  && posts.author != "none"
           .card.bg-light
             .card-body.text-left
               h2 #{posts.inventorytitle} 

               if (user.usecase_techinventory === "checked")

                 if (typeof(posts.description_of_tech) !== 'undefined')
                   p.card-text.text-center - #{posts.description_of_tech}
                 if (typeof(posts.schematics) !== 'undefined')
                   p.card-text.text-center - #{posts.schemtatics}
                 if (typeof(posts.cost) !== 'undefined')
                   p.card-text.text-center --- #{posts.cost}
                 if (typeof(posts.operation_and_maint) !== 'undefined')
                   p.card-text.text-center - #{posts.operation_and_maint}
                 if (typeof(posts.technical_knowledge) !== 'undefined')
                   p.card-text.text-center - #{posts.technical_knowledge}
                 if (typeof(posts.environmental_impact) !== 'undefined')
                   p.card-text.text-center - #{posts.environmental_impact}
                 if (typeof(posts.cultural_factors) !== 'undefined')
                   p.card-text.text-center - #{posts.cultural_factors}
                 if (typeof(posts.other_factors) !== 'undefined')
                   p.card-text.text-center - #{posts.other_factors}
                 if (typeof(posts.sources) !== 'undefined')
                   p.card-text.text-center - #{posts.sources}
  
               if (typeof(posts.post) !== 'undefined')
                 p.card-text.text-center - #{posts.post}
               if (typeof(posts.inventorytags) !== 'undefined')
                 p.card-text.text-center - #{posts.inventorytags}
               if (typeof(posts.price) !== 'undefined')
                 p.card-text.text-center - #{posts.price}
               p.card-text.text-center
                 a.link(type="link", href='/account/inventory/'+posts._id) Edit


   
  hr
  include ../partials/profilehead.pug
